## xgboost训练数据，输出因子

In [1]:
import pandas as pd 
import xgboost as xgb
import numpy as np
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
import joblib

In [2]:
adjclose = 'D:/redata/fields_full/adj_close.pk'
adj_close = pd.read_pickle(adjclose)
return1 = adj_close/adj_close.shift(1)-1
return2 = adj_close.shift(-1)/adj_close.shift(1)-1
start_date = return1.index.min()
end_date = return1.index.max()
date_range = pd.date_range(start_date, end_date,)  # 'B'表示工作日

In [3]:
final_table = pd.read_parquet('D:/redata/NLP_sen/final_table.parquet')
feature = np.load('D:/redata/NLP_sen/3class_xgboost_feature_500pt.npy')
label = np.array(final_table['classification'])

In [4]:
final_table

,report_id,time,stock_code,stock_name,content,classification,return
0,753935,2016-01-04,603636,南威软件,南威软件设立河北分布云基金政务云业务重大突破事件公司公告与国控张家口鼎众投资河北国控以及中投...,0,-0.021709
1,753946,2016-01-04,300014,亿纬锂能,亿纬锂能动力锂电池进入订单释放期投资要点公司动力电池持续放量是公司未来高速成长的最大驱动力签...,1,0.005348
2,753974,2016-01-04,300294,博雅生物,博雅生物再次获批两个新浆站血制品业绩弹性大事件江西省卫计委同意公司在赣州市于都县和九江市都昌...,0,-0.015945
3,753991,2016-01-04,002030,达安基因,达安基因体外诊断业领导者打造平台型产业链本报告导读基因测序行业领先的全产业链公司随医疗服务终...,0,-0.040601
4,754015,2016-01-04,600351,亚宝药业,亚宝药业点评报告喜儿康获新版认证外延步伐加快事件月日公司全资子公司亚宝药业太原制药取得对乙酰...,2,0.030478
...,...,...,...,...,...,...,...
334376,1447702,2022-04-29,688266,泽璟制药,泽璟制药多纳非尼竞争格局好创新药陆续进入上市阶段核心观点事件年公司实现营收亿元研发费用亿元归...,0,-0.046369
334377,1447703,2022-04-29,000636,风华高科,风华高科业绩小幅下滑行业或将触底回暖事件公司于月日发布年年度报告与年一季报公告显示年公司实现...,1,0.003712
334378,1447704,2022-04-29,002271,东方雨虹,东方雨虹一季报点评增长保持韧性再显防水龙头实力核心观点收入增长稳健股权激励费用影响业绩公司实...,0,-0.022552
334379,1447680,2022-04-29,000002,万科A,万科一季度盈利稳增建议关注后续拿地节奏业绩回顾年一季度业绩符合我们预期万科公布年一季度业绩营...,0,-0.043230
334380,1447682,2022-04-29,300035,中科电气,中科电气盈利能力迎来拐点加速扩张高速成长投资要点公司发布年年报及年一季报公司全年实现营业收入...,2,0.157602

In [5]:
feature_show = pd.DataFrame(feature.copy())
feature_show

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,-0.660593,-1.533324,-0.254349,0.654513,0.403565,-0.693365,-0.909980,0.699016,-1.212633,1.188309,...,-0.960861,-1.093518,-0.250591,-0.031099,-0.008387,-0.556574,-0.890893,-0.042687,-0.119558,-0.665102
1,1.517722,0.149247,0.220937,-1.437236,0.532118,-0.523754,-1.863817,1.229543,0.119555,-0.332688,...,-0.750942,-1.339011,-0.048055,1.113288,0.543836,0.036857,-0.774697,-0.019106,0.121740,-0.335500
2,1.276700,-1.215384,0.664773,-0.050148,0.016063,-0.835794,-0.519707,-0.744273,-0.327459,0.083680,...,-1.123371,-1.087749,-0.835365,0.253101,1.406389,-1.336075,-0.268989,1.030165,1.488263,-0.578157
3,0.449712,-0.514733,1.911903,-0.320150,-0.048760,-0.913266,-0.311187,-0.299888,-1.689907,0.127128,...,-2.084758,-0.874323,0.705025,0.287448,0.312258,-0.959606,-1.288787,0.629211,-0.277913,-1.288332
4,-0.212849,-0.931231,0.619994,0.172244,-0.327848,-0.858479,1.044566,-0.416220,-0.664763,1.081543,...,-1.273426,-0.260944,-0.935841,-0.699666,0.001166,-0.255806,-0.411538,0.388315,0.563625,-0.866180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334376,0.750198,-0.419800,-0.144098,-0.818761,0.455857,-0.784439,-0.251335,0.231520,-0.606057,-0.290433,...,-0.600555,-0.054315,-1.347445,-0.017506,0.078619,-0.824124,-0.908886,-0.504786,1.849795,-0.396826
334377,0.479197,-0.315095,-1.478325,0.025121,0.572096,-0.118213,1.478951,-0.549588,1.101304,0.391990,...,1.154235,0.437787,-0.867607,-1.182790,0.248058,-0.486173,-0.238603,-1.088463,1.482201,0.672713
334378,0.792208,-0.415368,0.516298,-0.676201,1.037129,-0.600679,0.210859,-0.073112,-1.125206,-1.040805,...,-0.203298,-0.753490,0.068859,0.356399,0.603403,-0.054563,0.986828,-1.075728,0.574365,-0.509393
334379,0.387300,-1.194243,-0.197552,-0.178888,-0.406022,-0.115009,1.008447,0.362457,-0.634886,-1.155354,...,0.094082,0.452472,-0.076717,0.278252,0.770593,-0.995081,-0.609220,-0.338615,-0.033405,-0.922299
334380,1.310184,0.431159,0.336209,-1.135076,0.724363,-0.597586,-1.286813,0.428155,-0.782645,-0.476637,...,-1.053200,-1.563234,-0.601863,0.168295,0.647680,-0.182480,-0.378669,-0.106460,0.836747,-0.142634

In [6]:
label_show = pd.DataFrame(label.copy())
label_show

        0
0       0
1       1
2       0
3       0
4       2
...    ..
334376  0
334377  1
334378  0
334379  0
334380  2

[334381 rows x 1 columns]

In [7]:
# train_index1 = final_table[(final_table['time'] >= '2016-01-01') & (final_table['time'] <= '2016-12-31')].index
# test_index1 = final_table[(final_table['time']>='2017-01-01')&(final_table['time']<='2017-06-30')].index

train_index1 = final_table[(final_table['time'] >= '2016-07-01') & (final_table['time'] <= '2016-12-31')].index
test_index1 = final_table[(final_table['time']>='2017-01-01')&(final_table['time']<='2017-12-31')].index

X_train1 = feature[train_index1]
y_train1 = label[train_index1]

X_test1 = feature[test_index1]
y_test1 = label[test_index1]

In [8]:
# train_index2 = final_table[(final_table['time'] >= '2016-07-01') & (final_table['time'] <= '2017-06-30')].index
# test_index2 = final_table[(final_table['time']>='2017-07-01')&(final_table['time']<='2017-12-31')].index

train_index2 = final_table[(final_table['time'] >= '2017-07-01') & (final_table['time'] <= '2017-12-31')].index
test_index2 = final_table[(final_table['time']>='2018-01-01')&(final_table['time']<='2018-12-31')].index

X_train2 = feature[train_index2]
y_train2 = label[train_index2]

X_test2 = feature[test_index2]
y_test2 = label[test_index2]

In [9]:
# train_index3 = final_table[(final_table['time'] >= '2017-01-01') & (final_table['time'] <= '2017-12-31')].index
# test_index3 = final_table[(final_table['time']>='2018-01-01')&(final_table['time']<='2018-06-30')].index

train_index3 = final_table[(final_table['time'] >= '2018-07-01') & (final_table['time'] <= '2018-12-31')].index
test_index3 = final_table[(final_table['time']>='2019-01-01')&(final_table['time']<='2019-12-31')].index

X_train3 = feature[train_index3]
y_train3 = label[train_index3]

X_test3 = feature[test_index3]
y_test3 = label[test_index3]

In [10]:
# train_index4 = final_table[(final_table['time'] >= '2017-07-01') & (final_table['time'] <= '2018-06-30')].index
# test_index4 = final_table[(final_table['time']>='2018-07-01')&(final_table['time']<='2018-12-31')].index

train_index4 = final_table[(final_table['time'] >= '2019-07-01') & (final_table['time'] <= '2019-12-31')].index
test_index4 = final_table[(final_table['time']>='2020-01-01')&(final_table['time']<='2020-12-31')].index

X_train4 = feature[train_index4]
y_train4 = label[train_index4]

X_test4 = feature[test_index4]
y_test4 = label[test_index4]

In [11]:
# train_index5 = final_table[(final_table['time'] >= '2018--01-01') & (final_table['time'] <= '2018-12-31')].index
# test_index5 = final_table[(final_table['time']>='2019-01-01')&(final_table['time']<='2019-06-30')].index

train_index5 = final_table[(final_table['time'] >= '2020--07-01') & (final_table['time'] <= '2020-12-31')].index
test_index5 = final_table[(final_table['time']>='2021-01-01')&(final_table['time']<='2021-12-31')].index

X_train5 = feature[train_index5]
y_train5 = label[train_index5]

X_test5 = feature[test_index5]
y_test5 = label[test_index5]

In [12]:
# train_index6 = final_table[(final_table['time'] >= '2018-07-01') & (final_table['time'] <= '2019-06-30')].index
# test_index6 = final_table[(final_table['time']>='2019-07-01')&(final_table['time']<='2019-12-31')].index

train_index6 = final_table[(final_table['time'] >= '2021-07-01') & (final_table['time'] <= '2021-12-31')].index
test_index6 = final_table[(final_table['time']>='2022-01-01')&(final_table['time']<='2022-12-31')].index

X_train6 = feature[train_index6]
y_train6 = label[train_index6]

X_test6 = feature[test_index6]
y_test6 = label[test_index6]

In [13]:
train_index7 = final_table[(final_table['time'] >= '2019-01-01') & (final_table['time'] <= '2019-12-31')].index
test_index7 = final_table[(final_table['time']>='2020-01-01')&(final_table['time']<='2020-06-30')].index

X_train7 = feature[train_index7]
y_train7 = label[train_index7]

X_test7 = feature[test_index7]
y_test7 = label[test_index7]

In [14]:
train_index8 = final_table[(final_table['time'] >= '2019-07-01') & (final_table['time'] <= '2020-06-30')].index
test_index8 = final_table[(final_table['time']>='2020-07-01')&(final_table['time']<='2020-12-31')].index

X_train8 = feature[train_index8]
y_train8 = label[train_index8]

X_test8 = feature[test_index8]
y_test8 = label[test_index8]

In [15]:
train_index9 = final_table[(final_table['time'] >= '2020-01-01') & (final_table['time'] <= '2020-12-31')].index
test_index9 = final_table[(final_table['time']>='2021-01-01')&(final_table['time']<='2021-06-30')].index

X_train9 = feature[train_index9]
y_train9 = label[train_index9]

X_test9 = feature[test_index9]
y_test9 = label[test_index9]

In [16]:
train_index10 = final_table[(final_table['time'] >= '2020-07-01') & (final_table['time'] <= '2021-06-30')].index
test_index10 = final_table[(final_table['time']>='2021-07-01')&(final_table['time']<='2021-12-31')].index

X_train10 = feature[train_index10]
y_train10 = label[train_index10]

X_test10 = feature[test_index10]
y_test10 = label[test_index10]

In [17]:
train_index11 = final_table[(final_table['time'] >= '2021-01-01') & (final_table['time'] <= '2021-12-31')].index
test_index11 = final_table[(final_table['time']>='2022-01-01')&(final_table['time']<='2022-06-30')].index

X_train11 = feature[train_index11]
y_train11 = label[train_index11]

X_test11 = feature[test_index11]
y_test11 = label[test_index11]

In [341]:
final_table.loc[356478]

report_id                                                   1447682
time                                            2022-04-29 00:00:00
stock_code                                                   300035
stock_name                                                     中科电气
content           中科电气盈利能力迎来拐点加速扩张高速成长投资要点公司发布年年报及年一季报公司全年实现营业收入...
classification                                                    2
return                                                     0.018341
Name: 356478, dtype: object

In [25]:
# 1 ~ 11 训练集一年，测试及半年
# 1 ~ 6 训练半年, 测试一年

X_train = feature[train_index3]
y_train = label[train_index3]

X_test = feature[test_index3]
y_test = label[test_index3]

# 超参数网格
param_grid = {'learning_rate': [0.025, 0.05, 0.075, 0.1],
              # 'n_estimators': [20, 30, 40, 50, 70],
              'max_depth': [3, 5, 7],
              'subsample': [0.8, 0.85, 0.9, 0.95],
              'seed': [42],
              'reg_alpha': [1e-1],       # 增加L1正则化项
              'reg_lambda': [1e-1],      # 增加L2正则化项
              'booster': ['gbtree'],
              'objective': ['multi:softprob'],
              'num_class' : [3],
              # 'tree_method': ['gpu_hist'],  # 使用GPU进行树的构建
              # 'predictor': ['gpu_predictor']  # 使用GPU进行预测
             }

# 创建XGBoost分类器，指定损失函数为多类别分类的Softmax
xgbcls = xgb.XGBClassifier()

grid_search = GridSearchCV(xgbcls, param_grid,
scoring='neg_log_loss', n_jobs=-1, verbose=2)
grid_search.fit(X_train, y_train)
model = grid_search.best_estimator_

# 训练模型
model.fit(X_train, y_train)

# 进行预测
y_pred = model.predict(X_test)

# 计算分类准确度
accuracy_t = accuracy_score(y_train, model.predict(X_train))
accuracy_p = accuracy_score(y_test, y_pred)
print(f"Tran_Accuracy: {accuracy_t:.2f}")
print(f"Pred_Accuracy: {accuracy_p:.2f}")

Fitting 5 folds for each of 48 candidates, totalling 240 fits

KeyboardInterrupt:

In [ ]:
# prob = model.predict_proba(X_test) #第一次时使用
prob = np.vstack([prob, model.predict_proba(X_test)])
len(prob)

In [21]:
test_index1

Index([ 47033,  47034,  47035,  47036,  47037,  47038,  47039,  47040,  47041,
        47042,
       ...
       102397, 102398, 102399, 102400, 102401, 102402, 102403, 102404, 102405,
       102406],
      dtype='int64', length=55374)

In [22]:
test_index6

Index([314466, 314467, 314468, 314469, 314470, 314471, 314472, 314473, 314474,
       314475,
       ...
       334371, 334372, 334373, 334374, 334375, 334376, 334377, 334378, 334379,
       334380],
      dtype='int64', length=19915)

In [395]:
pred = final_table.loc[(final_table.index >= 47033) & (final_table.index <= 334380)]
pred = pred[['report_id', 'time', 'stock_code']]

pred['prob_0'] = np.nan
pred['prob_1'] = np.nan
pred['prob_2'] = np.nan

pred.reset_index(drop=True, inplace=True)
pred

        report_id       time stock_code  prob_0  prob_1  prob_2
0          854611 2017-01-03     600548     NaN     NaN     NaN
1          854613 2017-01-03     000683     NaN     NaN     NaN
2          854644 2017-01-03     000977     NaN     NaN     NaN
3          854911 2017-01-03     300343     NaN     NaN     NaN
4          854916 2017-01-03     300068     NaN     NaN     NaN
...           ...        ...        ...     ...     ...     ...
307891    1447702 2022-04-29     688266     NaN     NaN     NaN
307892    1447703 2022-04-29     000636     NaN     NaN     NaN
307893    1447704 2022-04-29     002271     NaN     NaN     NaN
307894    1447680 2022-04-29     000002     NaN     NaN     NaN
307895    1447682 2022-04-29     300035     NaN     NaN     NaN

[307896 rows x 6 columns]

In [396]:
pred['prob_0'] = prob[:,0]
pred['prob_1'] = prob[:,1]
pred['prob_2'] = prob[:,2]
pred

        report_id       time stock_code    prob_0    prob_1    prob_2
0          854611 2017-01-03     600548  0.459295  0.045020  0.495685
1          854613 2017-01-03     000683  0.384385  0.036075  0.579540
2          854644 2017-01-03     000977  0.460323  0.042625  0.497052
3          854911 2017-01-03     300343  0.448477  0.072495  0.479029
4          854916 2017-01-03     300068  0.455983  0.041620  0.502397
...           ...        ...        ...       ...       ...       ...
307891    1447702 2022-04-29     688266  0.421449  0.006137  0.572413
307892    1447703 2022-04-29     000636  0.475104  0.006712  0.518184
307893    1447704 2022-04-29     002271  0.502082  0.010677  0.487242
307894    1447680 2022-04-29     000002  0.552822  0.017206  0.429972
307895    1447682 2022-04-29     300035  0.476570  0.004759  0.518671

[307896 rows x 6 columns]

In [397]:
pred['L_l'] = np.log(pred['prob_0']/(1-pred['prob_0']))
pred['L_m'] = np.log(pred['prob_1']/(1-pred['prob_1']))
pred['L_h'] = np.log(pred['prob_2']/(1-pred['prob_2']))
pred['forecast_adj_txt'] = pred['L_h'] - pred['L_l']
pred

,report_id,time,stock_code,prob_0,prob_1,prob_2,L_l,L_m,L_h,forecast_adj_txt
0,854611,2017-01-03,600548,0.459295,0.045020,0.495685,-0.163181,-3.054590,-0.017260,0.145921
1,854613,2017-01-03,000683,0.384385,0.036075,0.579540,-0.470978,-3.285401,0.320884,0.791862
2,854644,2017-01-03,000977,0.460323,0.042625,0.497052,-0.159042,-3.111752,-0.011792,0.147250
3,854911,2017-01-03,300343,0.448477,0.072495,0.479029,-0.206828,-2.548986,-0.083934,0.122894
4,854916,2017-01-03,300068,0.455983,0.041620,0.502397,-0.176524,-3.136659,0.009586,0.186110
...,...,...,...,...,...,...,...,...,...,...
307891,1447702,2022-04-29,688266,0.421449,0.006137,0.572413,-0.316827,-5.087185,0.291704,0.608532
307892,1447703,2022-04-29,000636,0.475104,0.006712,0.518184,-0.099666,-4.997164,0.072769,0.172435
307893,1447704,2022-04-29,002271,0.502082,0.010677,0.487242,0.008327,-4.528960,-0.051045,-0.059371
307894,1447680,2022-04-29,000002,0.552822,0.017206,0.429972,0.212078,-4.045132,-0.281965,-0.494042
307895,1447682,2022-04-29,300035,0.476570,0.004759,0.518671,-0.093787,-5.343052,0.074719,0.168507

In [398]:
mean_ = pred.groupby(['time', 'stock_code']).mean()
mean_ = mean_.reset_index()
mean_ = mean_.pivot(index='time', columns='stock_code', values='forecast_adj_txt')
mean_

stock_code,000001,000002,000006,000008,000009,000012,000016,000018,000020,000021,...,688786,688787,688788,688789,688793,688798,688800,688819,688981,689009
time,,,,,,,,,,,,,,,,,,,,,
2017-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-06,NaN,0.183256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-25,NaN,0.035943,NaN,NaN,NaN,0.190618,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.046473,NaN,0.726362,NaN,NaN,NaN
2022-04-26,NaN,NaN,NaN,NaN,NaN,0.049331,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.132479,0.645974,NaN,NaN,NaN,0.118399
2022-04-27,0.338971,NaN,NaN,NaN,NaN,0.169396,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.187154,NaN,NaN,NaN,0.251816
2022-04-28,0.429718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-29,NaN,-0.089211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.762693,NaN,NaN,0.023358,NaN,NaN,NaN

In [399]:
newdf = pd.DataFrame(index = adj_close.index,columns = adj_close.columns)
newdf = newdf.reindex(date_range)
newdf.loc[mean_.index,mean_.columns]  = mean_.loc[mean_.index,mean_.columns]
newdf

,000001,000002,000004,000005,000006,000007,000008,000009,000010,000011,...,688787,688788,688789,688793,688798,688799,688800,688819,688981,689009
2014-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [400]:
a = pd.DataFrame(index = adj_close.index,columns = adj_close.columns)
a

ticker,000001,000002,000004,000005,000006,000007,000008,000009,000010,000011,...,688787,688788,688789,688793,688798,688799,688800,688819,688981,689009
date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [401]:
for i in newdf.index:
    a.loc[a.loc[(a.index <= i)].index[-1]] = pd.concat([a.loc[a.loc[(a.index <= i)].index[-1]], newdf.loc[i]], axis=1).mean(axis=1)

In [402]:
factor = a.rolling(90,min_periods=1).mean().ffill()
factor.to_pickle('D:/redata/factor/forecast_adj_txt@factor.pkl')

In [403]:
factor

ticker,000001,000002,000004,000005,000006,000007,000008,000009,000010,000011,...,688787,688788,688789,688793,688798,688799,688800,688819,688981,689009
date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-30,0.429718,-0.089211,NaN,NaN,-0.159025,NaN,1.059362,0.382627,NaN,NaN,...,0.88386,0.691044,0.762693,0.132479,0.187154,NaN,0.023358,-0.64624,0.103328,0.251816
2024-05-31,0.429718,-0.089211,NaN,NaN,-0.159025,NaN,1.059362,0.382627,NaN,NaN,...,0.88386,0.691044,0.762693,0.132479,0.187154,NaN,0.023358,-0.64624,0.103328,0.251816
2024-06-03,0.429718,-0.089211,NaN,NaN,-0.159025,NaN,1.059362,0.382627,NaN,NaN,...,0.88386,0.691044,0.762693,0.132479,0.187154,NaN,0.023358,-0.64624,0.103328,0.251816
2024-06-04,0.429718,-0.089211,NaN,NaN,-0.159025,NaN,1.059362,0.382627,NaN,NaN,...,0.88386,0.691044,0.762693,0.132479,0.187154,NaN,0.023358,-0.64624,0.103328,0.251816
2024-06-05,0.429718,-0.089211,NaN,NaN,-0.159025,NaN,1.059362,0.382627,NaN,NaN,...,0.88386,0.691044,0.762693,0.132479,0.187154,NaN,0.023358,-0.64624,0.103328,0.251816

In [404]:
a

ticker,000001,000002,000004,000005,000006,000007,000008,000009,000010,000011,...,688787,688788,688789,688793,688798,688799,688800,688819,688981,689009
date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN